<!-- Container of the entire footer -->
<footer class="footer">
    <!-- Container of the elements logo, links and social networks -->
    <section class="footer__links-container">
        <div class="footer__links">
            <!-- Logo -->
            <div class="footer__links-logo">
                <a href="https://www.google.com/">
                    <img src="../../assets/images/airline-logo-footer.svg" alt="Airline Logo" class="footer__links-logo">
                </a>
            </div>
            <!-- Container link columns  -->
            <div class="footer__links-items">                
                <div class="footer__links-items-columns">
                    <!-- Columns of links -->
                    <div class="footer__links-items-column">
                        <h3>Destinations</h3>
                        <ul>
                            <li>
                                <a href="https://www.google.com/">Madrid</a>
                            </li>
                            <li>
                                <a href="https://www.google.com/">Barcelona</a>
                            </li>
                            <li>
                                <a href="https://www.google.com/">London</a>
                            </li>
                            <li>
                                <a href="https://www.google.com/">Paris</a>
                            </li>
                            <li>
                                <a href="https://www.google.com/">Rome</a>
                            </li>
                        </ul>
                    </div>
                    <!-- Columns of links -->
                    <div class="footer__links-items-column">
                        <h3>Legal information</h3>
                        <ul>
                            <li>
                                <a href="https://www.google.com/">Privacy policy</a>
                            </li>
                            <li>
                                <a href="https://www.google.com/">Cookie policies</a>
                            </li>
                            <li>
                                <a href="https://www.google.com/">data treatment</a>
                            </li>
                        </ul>
                    </div>
                    <!-- Columns of links -->
                    <div class="footer__links-items-column">
                        <h3>Book your flight</h3>
                        <ul>
                            <li>
                                <a href="https://www.google.com/">Search flights</a>
                            </li>
                            <li>
                                <a href="https://www.google.com/">Price calendar</a>
                            </li>
                            <li>
                                <a href="https://www.google.com/">Destination map</a>
                            </li>
                            <li>
                                <a href="https://www.google.com/">Flight times</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer__links-items-social-container">
                    <!-- Social Networking -->
                    <div class="footer__links-items-social">
                        <span>Follow us</span>
                        <div class="footer__links-items-social-icons">
                            <a href="https://twitter.com/" class="footer__links-items-social-link">
                                <!-- Twitter -->
                                <img src="../../assets/images/twitter.svg" alt="Twitter">
                            </a>
                            <a href="https://www.facebook.com/" class="footer__links-items-social-link">
                                <!-- Facebook -->
                                <img src="../../assets/images/facebook.svg" alt="Facebook">                    
                            </a>
                            <a href="https://www.youtube.com/" class="footer__links-items-social-link">
                                <!-- YouTube -->
                                <img src="../../assets/images/youtube.svg" alt="YouTube">                    
                            </a>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </section>
    <!-- Contact link container -->
    <section class="footer__contact-container">
        <div class="footer__contact">
            <ul class="footer__contact-links">
                <li>
                    <a href="https://www.google.com/">Website terms of use</a>
                </li>
                <li>
                    <a href="https://www.google.com/">Site map</a>
                </li>
                <li>
                    <a href="https://www.google.com/">environment</a>
                </li>
                <li>
                    <a href="mailto:contact@arilines.com">contact&#64;arilines.com</a>
                </li>
            </ul>
        </div>
    </section>
</footer>