<!-- Card section for images -->
<section class="cards">
    <!-- Adjustment of the body of the page to its maximum width -->
    <div class="cards__container">
        <p class="cards__title">
            Offers
        </p>
        <!-- Card container -->
        <div class="cards__elements">
            <!-- Individual card structure -->
            <div class="cards__image">
                <img src="../../assets/chicago.jpg" alt="Chicago" class="cards__image-photo cards__image-photo--big">
                <div class="cards__image-text">
                    <p class="cards__image-text-city">
                        Chicago
                    </p>
                    <p class="cards__image-text-price">
                        <span>From </span>
                        <span>$600.</span>
                        <span>00</span>
                    </p>
                </div>
                <!-- Dark layer on the image -->
                <div class="cards__image-overlay">                    
                </div>
            </div>
            <!-- Individual card structure -->
            <div class="cards__image cards__image--big">
                <img src="../../assets/porto.jpg" alt="Porto" class="cards__image-photo">
                <div class="cards__image-text">
                    <p class="cards__image-text-city">
                        Porto
                    </p>
                    <p class="cards__image-text-price">
                        <span>From </span>
                        <span>$600.</span>
                        <span>00</span>
                    </p>
                </div>
                <div class="cards__image-overlay">                    
                </div>
            </div>
            <!-- Individual card structure -->
            <div class="cards__image">
                <img src="../../assets/chicago_2.jpg" alt="Chicago" class="cards__image-photo">
                <div class="cards__image-text">
                    <p class="cards__image-text-city">
                        Chicago
                    </p>
                    <p class="cards__image-text-price">
                        <span>From </span>
                        <span>$600.</span>
                        <span>00</span>
                    </p>
                </div>
                <div class="cards__image-overlay"></div>
            </div>
        </div>
    </div>
</section>