<!-- Banner section with background image -->
<section class="banner">
    <div class="banner__content">
        <p class="banner__content-title">
            Take a rest
        </p>
        <p class="banner__content-description">
            Discover all the offers available at the best prices for the whole country and the world
        </p>
        <a href="https://www.google.com/">
            <button class="banner__content-button">
                Buy
            </button>
        </a>
    </div>
</section>
