<!-- Image section with text -->
<section class="image-text">
    <div class="image-text__container">
        <!-- Image Container -->
        <div class="image-text__image-container">
            <img src="../../assets/child-on-the-sea.jpg" alt="Child on the sea" class="image-text__image">
        </div>
        <!-- Text Container -->
        <div class="image-text__text">
            <p class="image-text__text-top-title">
                Our destinations
            </p>
            <p class="image-text__text-title">
                Discover the world
            </p>
            <p class="image-text__text-description">
                Embark on an unforgettable adventure! Discover and enjoy our fascinating destinations. We are waiting for you to explore the world together!
            </p>
        </div>
    </div>
</section>